#
# Example environment file for LibrePlate
#

DEBUG=False
SECRET_KEY=14c83ca8d376b7c3948ae0b0e36395d1e828fc730feefebc12c557830ffbadc8
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://libreplate:unsafe_development_pwd!1@localhost:5432/libreplate_db
FRONTEND_DIST=/var/www/libreplate/frontend
MEDIA_ROOT=/var/www/libreplate/media

CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True